html, body, #root, .App {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  text-align: center;
  color: sandybrown;
}

.GossiperSelector {
  max-width: 400px;
  margin: auto;
}

.GossiperSelector h1 {
  text-align: center;
}

#welcomeScreen {
  width: 100%;
  margin:  0 auto 100%;
}

#welcomeScreen.hideAnimation {
  transition: transform 0.5s ease, height 0s linear 0.5s, margin-bottom 0.5s 0.5s;
  transform: scale(0);
  height: 0;
  margin-bottom: 0%;
}

#mainContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#main {
  flex-grow: 1;
  overflow: hidden;
  color: #000000;
}

#main div.row {
  height: 100%;
}

#rumors {
  height: 100%;
  padding: 20px;

  background-color: white;
  border: 2px solid #000000;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
}

#origin {
  float: right;
  margin-top: -22px;
  margin-right: -22px;
  background-color: blueviolet;
  color: #e6e6e6;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #000000;
  font-weight: bolder;
}


#chatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#chat {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
}

#peerForm {
  margin-top: 10px;
}

.niceBox {
  padding: 10px;
  margin: 10px 0;
  background-color: #f0f0f0;
  border: 2px solid #dddddd;
  border-radius: 5px;
}

.niceBox::after {
  content: "";
  display: table;
  clear: both;
}

#chat .niceBox {
  margin-right: 100px;
}

#chat .niceBox .rumorHeader {
  font-weight: bold;
  text-align: left;
}

#chat .ownRumor {
  background-color: #c2c2c2;
  border-color: #acacac;
  text-align: right;
  margin-right: 15px;
  margin-left: 90px;
}

#chat .ownRumor .rumorHeader {
  text-align: right;
}